* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

hr {
	height: 4px;
	color: #79a;
	background-color: #79a;
	margin-bottom: 30px;
}

.name-title {
	color: #000;
}

.title-logo {
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: -20px;
	color: #0bd;
}

.name {
	margin-bottom: 0;
}

.title {
	margin: 0;
}

.main-pic{
	margin-bottom: 30px;
}

.project {
	color: #344;
}

.text-thickest {
	font-weight: 400;
}

.text-muted {
	font-family: "Khula", sans-serif;
	color: #79a;
	font-size: 40px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 70px;
}

	